.page.theme_dark {
  /* Текст */
  --all-font-family: 'IBM Plex mono', sans-serif;
  --text-font-size: 18px;

  --header-and-footer-title-text-color: #DB00FF;
  --header-and-footer-title-shadow-color: #FF0070;

  --accent-color: #FF0070;
  --accent-title-color: #000028;

  --menu-text-color: #FF0070;

  --header-rec-text-color: #FF0070;
  --header-decor-element: #FF0070;

  --section-paragraph-text-color: #F1B2CE;
  --section-title-text-color: #FF0070;

  /* Фон */
  --header-background-image: url("../images/cover-image-dark.png");
  --main-stack-and-footer-background-color: #000028;
}
