.page.theme_light {
  /* Текст */
  --all-font-family: 'IBM Plex mono', sans-serif;
  --text-font-size: 18px;

  --header-title-text-color: #FFC2E6;

  --accent-color: #FF8DCB;
  --accent-title-color: #353430;
  
  --menu-text-color: #353430;

  --header-rec-text-color: transparent;
  --header-decor-element: #353430;
  
  --section-paragraph-text-color: #353430;
  --section-title-text-color: #353430;

  /* Фон */
  --header-background-image: url("../images/cover-image-light.png");
}

@media (prefers-color-scheme: light) {
  :root {
    /* Текст */
    --all-font-family: 'IBM Plex mono', sans-serif;
    --text-font-size: 18px;
    
    --header-title-text-color: #FFC2E6;

    --accent-color: #FF8DCB;
    --accent-title-color: #353430;
    
    --menu-text-color: #353430;

    --header-rec-text-color: transparent;
    --header-decor-element: #353430;
    
    --section-paragraph-text-color: #353430;
    --section-title-text-color: #353430;

    /* Фон */
    --header-background-image: url("../images/cover-image-light.png");
  }
}
