.page.theme_light {
  /* Текст */
  --all-font-family: "IBM Plex mono", monospace;
  --text-font-size: 18px;

  --header-and-footer-title-text-color: #ffc2e6;
  --header-and-footer-title-shadow-color: #ff0070;

  --accent-color: #ff8dcb;
  --accent-title-color: #353430;

  --menu-text-color: #353430;
  --menu-outline-hover: #32312d66;

  --header-rec-text-color: transparent;
  --header-decor-element: #353430;

  --section-paragraph-text-color: #353430;
  --section-title-text-color: #353430;

  --link-color: black;

  /* Фон */
  --page-background-image: url("../images/cover-image-light.png");
  --page-backgrounnd-color: #fff1f7;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Текст */
    --all-font-family: "IBM Plex mono", monospace;
    --text-font-size: 18px;

    --header-and-footer-title-text-color: #ffc2e6;
    --header-and-footer-title-shadow-color: #ff0070;

    --accent-color: #ff8dcb;
    --accent-title-color: #353430;

    --menu-text-color: #353430;
    --menu-outline-hover: #32312d66;

    --header-rec-text-color: transparent;
    --header-decor-element: #353430;

    --section-paragraph-text-color: #353430;
    --section-title-text-color: #353430;

    /* Фон */
    --page-background-image: url("../images/cover-image-light.png");
    --page-backgrounnd-color: #fff1f7;
  }
}
