.page {
  position: relative;
  z-index: 1;
  font-family: var(--all-font-family), monospace;
  font-size: var(--text-font-size, 18px);
  background-color: var(--page-backgrounnd-color, midnightblue); /* Указал цвет для фона страницы */
  background-image: var(--page-background-image, midnightblue); /* Указал изображение для фона страницы */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Общие стили элементов */
/* Загаловки секций и параграфа в header */
.section_title {
  font-weight: bold;
  color: var(--section-title-text-color, deeppink);
  font-size: inherit;
}

/* Акцентные заголовки секций */
.accent-title {
  font-weight: bold;
  font-size: inherit;
  color: var(--accent-title-color, black);
  background-color: var(--accent-color, deeppink);
}

/* Стили для параграфов в секциях */
.sectional__paragraph-text {
  font-weight: normal;
  color: var(--section-paragraph-text-color, gray);
  line-height: 23.4px;
}

/* Ссылки в параграфах */
.link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color, deeppink);
}

.link:hover {
  outline: none;
  border-bottom: 1px solid var(--section-paragraph-text-color, gray);
}

.link:focus-visible {
  outline: 1px solid var(--section-paragraph-text-color, gray);
}

/* Параграфы в секции 2 */
.main__section-concentration-paragraphs {
  margin-block-start: 10px;
}

/* Контейнеры в секции 3 */
.main___concentrate-better__margin {
  margin-inline-start: 8px;
}

/* Шапка */
.header {
  position: relative;
  max-width: 100%;
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Меню шапки */
.header__theme-menu {
  margin-block-start: 20px;
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

/* Общие стили кнопок */
.header__theme-menu-button {
  border: none;
  width: 70px;
  cursor: pointer;
  background-color: transparent;
  color: var(--menu-text-color, deeppink);
  font-size: var(--text-font-size, 18px);
}

/* Стили для кнопок */
.header__theme-menu-button:focus-visible {
  padding-block-end: 2px;
  border-bottom: 1px solid var(--menu-text-color, deeppink);
  outline: none;
}

.header__theme-menu-button:hover {
  padding-block-end: 2px;
  outline: 1px solid var(--menu-outline-hover, deeppink);
}

.header__theme-menu-button:disabled {
  padding-block-end: 2px;
  outline: 1px solid var(--menu-text-color, deeppink);
  pointer-events: none;
}

/* Заголовок */
.header__title {
  align-self: center;
  font-weight: bold;
  font-size: var(--title-font-size-desktop, 157px);
  color: var(--header-and-footer-title-text-color, blueviolet);
  text-shadow: 4px 4px var(--header-and-footer-title-shadow-color, deeppink);
}

/* Параграф под шапкой*/
.header__subtitle-paragraph {
  margin-block-end: 58px;
  margin-inline-end: 20px;
  width: 491px;
  align-self: center;
  justify-self: end;
}

/* Надпись REC в правом верхнем углу сайта в тёмной теме */
.header__decor-rec {
  position: absolute;
  inset-block-start: 20px;
  inset-inline-end: 30px;
  font-weight: normal;
  font-size: var(--text-font-size, 18px);
  text-transform: uppercase;
  color: var(--header-rec-text-color, deeppink);
}

.header__decor-rec::after {
  content: "";
  display: inline-block;
  margin-inline-start: 10px;
  width: 9px;
  height: 9px;
  background-color: var(--header-rec-text-color, deeppink);
  border-radius: 50%;
  box-shadow: 0 0 5px 2px var(--header-rec-text-color, deeppink);
}

/* Уголки для header и footer */
.corner-decor::before {
  content: "";
  position: absolute;
  inset-inline-start: 20px;
  inset-block-end: 20px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--header-decor-element, deeppink);
  border-left: 1px solid var(--header-decor-element, deeppink);
}

.corner-decor::after {
  content: "";
  position: absolute;
  inset-inline-end: 20px;
  inset-block-start: 20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--header-decor-element, deeppink);
  border-right: 1px solid var(--header-decor-element, deeppink);
}

/* Первая секция (Почему сосредоточиться так сложно) */
.hero {
  padding-block-start: 60px;
  margin-inline: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;
}

.hero__section-title {
  grid-row-start: span 3;
}

.hero__containers {
  margin-inline-start: 6px;
}

.hero__pparagraphs {
  margin-block-start: 10px;
}

/* Вторая секция (Что снижает концентрация внимания) */
.main__section-concentration {
  margin-block-start: 61px;
}

.main__section-concentration-title {
  margin-inline: 20px;
  width: 315px;
}

.concentration__containers {
  margin-block-start: 20px;
  margin-inline: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  column-gap: 20px;
}

/* Третия секция (Как кноцентрироваться лучше) */
.main___section-concentrate-better {
  margin-block-start: 79px;
  margin-inline: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(6, min-content);
}

.main___concentrate-better__container {
  margin-block-start: 20px;
}

.main__section-concentrate-better-title {
  grid-row-start: span 6;
}

.main___concentrate-better__container > h3:first-child {
  margin-block-start: -20px;
}

h3 + h4 {
  margin-block-start: 22px;
}

h4.accent-title {
  font-weight: normal;
}

h4 ~ p {
  margin-block-start: 10px;
}

/* Четвёртый контейнер (А можно в картинках)*/
.main__section-maybe-pictures {
  margin-block-start: 80px;
  margin-inline: 20px;
}

.main__section-maybe-pictures__img-container {
  margin-block-start: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, min-content);
  gap: 20px;
}

/* Настройка картинок */
.img-container__item {
  overflow: hidden;
}

.img-container__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Расположение картинок */
.div__img-sunset {
  grid-column-end: span 2;
}

.div__ice-cream {
  grid-row-end: span 2;
}

.div__books {
  grid-column-start: 2;
}

.div__tape {
  grid-row: 2 / 4;
}

.div__street {
  grid-column-start: 2;
  grid-column-end: span 2;
}

.footer {
  position: relative;
  margin-block-start: 46px;
  width: 100%;
  height: 100vh;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-title {
  color: var(--header-and-footer-title-text-color, midnightblue);
  font-size: var(--title-font-size-desktop, 157px);
  font-weight: bold;
  text-shadow: 4px 4px var(--header-and-footer-title-shadow-color, deeppink);
}

/* Медиа-запросы (Планшет 1024x768)*/
@media (max-width: 768px) {
  /* Шапка */
  .header__theme-menu {
    margin-block-start: 43px;
    margin-inline-end: 20px;
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    display: block;
  }

  .header__theme-menu-item {
    margin-block-end: 10px;
  }

  .header__theme-menu-item:last-child {
    margin-block-end: 0;
  }

  .header__subtitle-paragraph {
    margin-block-end: 48px;
    width: 364px;
  }

  /* Main-stack */
  /* Секция 1 */
  .hero__section-title {
    margin-inline-end: 7px; /* Добавил этот стиль что бы макету соотвествовал */
  }

  .hero__containers {
    margin-inline-start: 13px;
  }

  /* Секция 2 */
  .main__section-concentration-title {
    width: 200px;
  }

  .concentration__containers {
    display: block;
  }

  .concentration__container {
    margin-block-start: 20px;
  }

  /* Секция 3 */
  .main___concentrate-better__margin {
    margin-inline-start: 13px;
  }

  /* Фууууутер */
  .footer {
    min-height: 1024px;
  }
}

/* Медиа-запросы (Телефон 375px)*/
@media (max-width: 375px) {
  /* Шапка */
  .header__theme-menu {
    margin-inline-end: 10px;
    margin-block-start: 2px;
  }

  .header__title {
    margin-inline-start: 10px;
    font-size: var(--title-font-size-mobile, 116px);
    line-height: 95px;
  }

  .header__subtitle-paragraph {
    margin-inline-end: 0;
    margin-block-end: 8px;
    width: 355px;
    justify-self: center;
  }

  .header__decor-rec {
    inset-block-start: 10px;
    inset-inline-end: 20px;
  }

  .corner-decor::before {
    inset-inline-start: 10px;
    inset-block-end: 10px;
  }

  .corner-decor::after {
    inset-inline-end: 10px;
    inset-block-start: 10px;
  }

  /* Main-stack */
  /* Секция 1 */
  .hero {
    display: block;
    padding-block-start: 40px;
    margin-inline: 0;
  }

  .hero__section-title {
    margin-inline: 10px;
  }

  .hero__containers {
    margin-block-start: 20px;
    margin-inline: 10px;
  }

  /* Секция 2 */
  .main__section-concentration {
    margin-block-start: 49px;
  }

  .main__section-concentration-title {
    margin-inline: 10px;
    width: 300px;
  }

  .concentration__containers {
    margin-inline: 10px;
  }

  .main__section-concentration-paragraphs {
    margin-block-start: 11px;
  }

  /* Секция 3 */
  .main___section-concentrate-better {
    margin-block-start: 48px;
    margin-inline: 10px;
    display: block;
  }

  .main___concentrate-better__margin {
    margin-block-start: 20px;
    margin-inline-start: 0;
}

  .main___concentrate-better__container {
    margin-inline-start: 0;
  }

  .main___concentrate-better__container > h3:first-child {
    margin-block-start: 0;
  }

  /* Секция 4 */
  .main__section-maybe-pictures {
    margin-block-start: 50px;
    margin-inline: 10px;
  }

  .main__section-maybe-pictures__img-container {
    margin-block-start: 10px;
    display: block;
  }

  .main__section-maybe-pictures__img-container
    > .img-container__item:first-child {
    margin-block-start: 0;
  }

  .img-container__item {
    margin-block-start: 5px;
  }

  /* ФУУУУУтер */
  .footer {
    margin-block-start: 38px;
    min-height: 665px;
  }

  .footer-title {
    font-size: var(--title-font-size-mobile, 116px);
  }
}
