.page {
  font-family: var(--all-font-family), sans-serif;
  font-size: var(--text-font-size, 18px);
  background-image: var(--header-background-image, midnightblue);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Общие стили элементов */
main,
footer {
  background-color: var(--main-stack-and-footer-background-color, midnightblue);
}

/* Загаловки секций и параграфа в header */
.section_title {
  font-weight: bold;
  color: var(--section-title-text-color, deeppink);
  font-size: inherit;
}

/* Акцентные заголовки секций */
.accent-title {
  font-weight: bold;
  font-size: inherit;
  color: var(--accent-title-color, black);
  background-color: var(--accent-color, deeppink);
}

/* Стили для параграфов в секциях */
.sectional__paragraph-text {
  font-weight: normal;
  color: var(--section-paragraph-text-color, gray);
  line-height: 23.4px;
}

/* Ссылки в параграфах */
.link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color, deeppink);
}

/* Шапка */
.header {
  position: relative;
  max-width: 100%;
  height: 768px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  background-color: midnightblue;
  background-image: var(--header-background-image, midnightblue);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Меню шапки */
.header__theme-menu {
  margin-block-start: 20px;
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

/* Общие стили кнопок */
.header__theme-menu-button {
  border: none;
  width: 70px;
  background-color: transparent;
  color: var(--menu-text-color, deeppink);
  font-size: var(--text-font-size, 18px);
}

/* Стили для кнопок */
.header__theme-menu-button_type_light:focus-visible,
.header__theme-menu-button_type_auto:focus-visible,
.header__theme-menu-button_type_dark:focus-visible {
  padding-block-end: 2px;
  border-bottom: 1px solid var(--menu-text-color, deeppink);
  outline: none;
}

.header__theme-menu-button_type_light:hover,
.header__theme-menu-button_type_auto:hover,
.header__theme-menu-button_type_dark:hover {
  padding-block-end: 2px;
  outline: 1px solid var(--menu-text-color, deeppink);
}

.header__theme-menu-button_type_light:disabled,
.header__theme-menu-button_type_auto:disabled,
.header__theme-menu-button_type_dark:disabled {
  padding-block-end: 2px;
  outline: 1px solid var(--menu-text-color, deeppink);
  pointer-events: none;
}

/* Заголовок */
.header__title {
  align-self: center;
  font-weight: bold;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--header-title-text-color, blueviolet);
  text-shadow: 4px 4px var(--accent-color, deeppink);
}

/* Параграф под шапкой*/
.header__subtitle-paragraph {
  margin-block-end: 83px;
  margin-inline-end: 20px;
  width: 491px;
  height: 71px;
  align-self: center;
  justify-self: end;
}

/* Надпись REC в правом верхнем углу сайта в тёмной теме */
.header__decor-rec {
  position: absolute;
  inset-block-start: 20px;
  inset-inline-end: 30px;
  font-weight: normal;
  font-size: var(--text-font-size, 18px);
  color: var(--header-rec-text-color, deeppink);
}

.header__decor-rec::after {
  content: "";
  display: inline-block;
  margin-inline-start: 10px;
  width: 9px;
  height: 9px;
  background-color: var(--header-rec-text-color, deeppink);
  border-radius: 50%;
  box-shadow: 0 0 5px 2px var(--header-rec-text-color, deeppink);
}


/* Уголки */
.header::before {
  content: "";
  position: absolute;
  inset-inline-start: 20px;
  inset-block-end: 20px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--header-decor-element, deeppink);
  border-left: 1px solid var(--header-decor-element, deeppink);
}

.header::after {
  content: "";
  position: absolute;
  inset-inline-end: 20px;
  inset-block-start: 20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--header-decor-element, red);
  border-right: 1px solid var(--header-decor-element, red);
}

/* Первая секция */
.hero {
  padding-block-start: 60px;
  margin-inline: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;
}

/* Заголовок секции */
.hero__section-title {
  grid-row-start: span 3;
}

.hero__containers {
  margin-inline-start: 6px; 
}

.hero__pparagraphs {
  margin-block-start: 10px;
}

/* Медиа-запросы (Планшет 1024x768)*/
@media (max-width: 768px) {
  /* Шапка */
  .header {
    width: 768px;
    height: 1024px; 
  }

  .header__theme-menu {
    margin-block-start: 140px;
    margin-inline-end: 20px;
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    display: block;
  }

  .header__theme-menu-item {
    margin-block-end: 10px;
  }

  .header__theme-menu-item:last-child {
    margin-block-end: 0;
  }

  .header__subtitle-paragraph {
    margin-block-end: 142px;
    width: 364px;
    height: 117px;
  }

  /* Main-stack */
  .hero__section-title {
    margin-inline-end: 7px; /* Добавил этот стиль что бы макету соотвествовал */
  }

  .hero__containers {
    margin-inline-start: 13px;
  }
}

/* Медиа-запросы (Телефон 375px)*/
@media (max-width: 375px) {
  /* Шапка */
  .header {
    width: 375px;
    height: 668px;
  }

  .header__theme-menu {
    margin-inline-end: 10px;
    margin-block-start: 22px;
  }

  .header__title {
    margin-inline-start: 10px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 95px;
  }

  .header__subtitle-paragraph {
    margin-inline-end: 0;
    margin-block-end: 24px;
    width: 355px;
    height: 117px;
    justify-self: center;
  }

  .header__decor-rec {
    inset-block-start: 10px;
    inset-inline-end: 20px;
  }

  .header::before {
    inset-inline-start: 10px;
    inset-block-end: 10px;
  }

  .header::after {
    inset-inline-end: 10px;
    inset-block-start: 10px;
  }

  /* Main-stack */
  .hero {
    display: block;
    padding-block-start: 40px;
    margin-inline: 0;
  }

  .hero__section-title {
    margin-inline: 10px;
  }
  
  .hero__containers {
    margin-block-start: 20px;
    margin-inline: 10px;
  }
}
