:root {
  /* Текст */
  --all-font-family: "IBM Plex mono", monospace;
  --text-font-size: 18px;

  --header-and-footer-title-text-color: #db00ff;
  --header-and-footer-title-shadow-color: #ff0070;

  --accent-color: #ff0070;
  --accent-title-color: #000028;

  --menu-text-color: #ff0070;
  --menu-outline-hover: #ff007066;

  --header-rec-text-color: #ff0070;
  --header-decor-element: #ff0070;

  --section-paragraph-text-color: #f1b2ce;
  --section-title-text-color: #ff0070;

  --title-font-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --title-font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

  /* Фон */
  --page-background-image: url("../images/cover-image-dark.png");
  --page-backgrounnd-color: #000028;
}
