/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /* Текст */
  --all-font-family: 'IBM Plex mono', sans-serif;
  --text-font-size: 18px;
  --header-title-color: #DB00FF;
  --text-shadow-color: #FF0070;
  --subtitle-text-color: #000028;
}